.my-pagetitle{
    color: #fff;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 15px;
    justify-content: space-between;
    padding-bottom: 5px;
    border-radius: 7px 7px 0px 0px;
    border-color: #40516f !important;
    background: rgba(40,55,84,1);
    background: -moz-linear-gradient(left, rgba(40,55,84,1) 0%, rgba(73,102,156,1) 71%, rgba(73,102,156,1) 100%);
    background: -webkit-linear-gradient(left, rgba(40,55,84,1) 0%, rgba(73,102,156,1) 71%, rgba(73,102,156,1) 100%);
    background: -o-linear-gradient(left, rgba(40,55,84,1) 0%, rgba(73,102,156,1) 71%, rgba(73,102,156,1) 100%);
    background: -ms-linear-gradient(left, rgba(40,55,84,1) 0%, rgba(73,102,156,1) 71%, rgba(73,102,156,1) 100%);
    background: linear-gradient(to right, rgba(40,55,84,1) 0%, rgba(73,102,156,1) 71%, rgba(73,102,156,1) 100%);
    box-shadow: 0 2px 5px 0 rgba(40,55,84,0.5)!important;
}
.my-pagebody{
    margin-top: 0px;
}
.br-mainpanel{
    padding-top: 1px;
}
.pagetitle-btn a{
    background-color: #0a819c;
    border-color: #097992;
}

.pagetitle-btn a.btn.btn-success:hover {
    background: #49a5bf;
    color: #fff;
    transition: all .5s ease-in-out;
    transform: scale(1.1);
}
.pagetitle-btn a.btn.btn-success {
    background: rgba(49,158,98,1);
    background: -moz-linear-gradient(left, rgba(49,158,98,1) 0%, rgba(68,184,120,1) 51%, rgba(33,176,97,1) 100%);
    background: -webkit-linear-gradient(left, rgba(49,158,98,1) 0%, rgba(68,184,120,1) 51%, rgba(33,176,97,1) 100%);
    background: -o-linear-gradient(left, rgba(49,158,98,1) 0%, rgba(68,184,120,1) 51%, rgba(33,176,97,1) 100%);
    background: -ms-linear-gradient(left, rgba(49,158,98,1) 0%, rgba(68,184,120,1) 51%, rgba(33,176,97,1) 100%);
    background: linear-gradient(to right, rgba(49,158,98,1) 0%, rgba(68,184,120,1) 51%, rgba(33,176,97,1) 100%);
    box-shadow: 0 2px 15px 0 rgba(49,158,98, 0.5)!important;
    border: 0px;
    box-shadow: 0 3px 12px 0 rgba(49,158,98, 0.5)!important;
}
.my-pagetitle div h4{
    color:#fff;
}
.my-pagetitle div h4 i.icon{
    font-size: 23px;
    color: #fff;
    margin-right: 5px;
}

/*Required color*/
.required_color{
    color:red;
}
.dataTables_empty{
    color: #6f6f6f;;
    font-size: 13px;
}
.dataTables_length label{
    font-size: 13px;
    /*color: #17a3b6;*/
}
/*report style*/

.my-pagetitle div h4.report_index_heading {
    text-align: center;
}
.report_index__card_heading{
    border-color: #40516f !important;
    background: rgba(40,55,84,1);
    background: -moz-linear-gradient(left, rgba(40,55,84,1) 0%, rgba(73,102,156,1) 71%, rgba(73,102,156,1) 100%);
    background: -webkit-linear-gradient(left, rgba(40,55,84,1) 0%, rgba(73,102,156,1) 71%, rgba(73,102,156,1) 100%);
    background: -o-linear-gradient(left, rgba(40,55,84,1) 0%, rgba(73,102,156,1) 71%, rgba(73,102,156,1) 100%);
    background: -ms-linear-gradient(left, rgba(40,55,84,1) 0%, rgba(73,102,156,1) 71%, rgba(73,102,156,1) 100%);
    background: linear-gradient(to right, rgba(40,55,84,1) 0%, rgba(73,102,156,1) 71%, rgba(73,102,156,1) 100%);
    box-shadow: 0 2px 5px 0 rgba(40,55,84,0.5)!important;
    color:#fff;
    padding-top: 12px;
    padding-bottom: 6px;
}
.select2-container {
    /*width: 100%!important;*/
}
.modal-body form label{
    font-size: 13px;
}
.modal-body form label .sub_label_style{
    font-size: 10px;
}
.table .table{
    background: #fff;
}

/*card design start*/

.card.my_card{
    border:none;
}
.my_card .card-body p{
    color:#fff;
    text-align: center;
}
.my_card .card-body p i{
    font-size: 30px;
}

.card.my_card:hover{
    background: rgb(6,16,20);
    background: linear-gradient(90deg, rgba(6,16,20,1) 0%, rgba(50,119,144,1) 50%, rgba(9,22,24,1) 100%);
    cursor: pointer;
}
.my_panel_1{
    background: #0288d1;
    background: -webkit-linear-gradient(45deg, #0288d1 0%, #26c6da 100%);
    background: linear-gradient(45deg, #0288d1 0%, #26c6da 100%);
    box-shadow: 0 6px 20px 0 rgba(38, 198, 218, 0.5)!important;
}
.my_panel_2{
    background: #FF5252;
    background: -webkit-linear-gradient(45deg, #FF5252 0%, #f48fb1 100%);
    background: linear-gradient(45deg, #FF5252 0%, #f48fb1 100%);
    box-shadow: 0 6px 20px 0 rgba(244, 143, 177, 0.5)!important;
}
.my_panel_3{
    background: #ff6f00;
    background: -webkit-linear-gradient(45deg, #ff6f00 0%, #ffca28 100%);
    background: linear-gradient(45deg, #ff6f00 0%, #ffca28 100%);
    box-shadow: 0 6px 20px 0 rgba(255, 111, 0, 0.3)!important;
}
.my_panel_4{
    background: #43A047;
    background: -webkit-linear-gradient(45deg, #43A047 0%, #1de9b6 100%);
    background: linear-gradient(45deg, #43A047 0%, #1de9b6 100%);
    box-shadow: 0 6px 20px 0 rgba(77, 182, 172, 0.5)!important;
}
.my_panel_5 {
    background: rgba(191,127,32,1);
    background: -moz-linear-gradient(left, rgba(191,127,32,1) 0%, rgba(240,188,115,1) 96%, rgba(240,188,115,1) 100%);
    background: -webkit-linear-gradient(left, rgba(191,127,32,1) 0%, rgba(240,188,115,1) 96%, rgba(240,188,115,1) 100%);
    background: -o-linear-gradient(left, rgba(191,127,32,1) 0%, rgba(240,188,115,1) 96%, rgba(240,188,115,1) 100%);
    background: -ms-linear-gradient(left, rgba(191,127,32,1) 0%, rgba(240,188,115,1) 96%, rgba(240,188,115,1) 100%);
    background: linear-gradient(to right, rgba(191,127,32,1) 0%, rgba(240,188,115,1) 96%, rgba(240,188,115,1) 100%);
    box-shadow: 0 6px 20px 0 rgba(191,127,32,0.5)!important;
}
.my_panel_6 {
    background: rgba(56,107,12,1);
    background: -webkit-linear-gradient(left, rgba(56,107,12,1) 0%, rgba(133,153,115,1) 100%);
    background: linear-gradient(to right, rgba(56,107,12,1) 0%, rgba(133,153,115,1) 100%);
    box-shadow: 0 6px 20px 0 rgba(56,107,12, 0.5)!important;
}
.my_panel_7 {
    background: rgba(13,39,105,1);
    background: -moz-linear-gradient(left, rgba(13,39,105,1) 0%, rgba(116,130,153,1) 100%);
    background: -webkit-linear-gradient(left, rgba(13,39,105,1) 0%, rgba(116,130,153,1) 100%);
    background: -o-linear-gradient(left, rgba(13,39,105,1) 0%, rgba(116,130,153,1) 100%);
    background: -ms-linear-gradient(left, rgba(13,39,105,1) 0%, rgba(116,130,153,1) 100%);
    background: linear-gradient(to right, rgba(13,39,105,1) 0%, rgba(116,130,153,1) 100%);
    box-shadow: 0 6px 20px 0 rgba(13,39,105,0.5)!important;
}
.my_panel_8{
    background: rgba(82,92,18,1);
    background: -moz-linear-gradient(left, rgba(82,92,18,1) 0%, rgba(169,186,72,1) 100%);
    background: -webkit-linear-gradient(left, rgba(82,92,18,1) 0%, rgba(169,186,72,1) 100%);
    background: -o-linear-gradient(left, rgba(82,92,18,1) 0%, rgba(169,186,72,1) 100%);
    background: -ms-linear-gradient(left, rgba(82,92,18,1) 0%, rgba(169,186,72,1) 100%);
    background: linear-gradient(to right, rgba(82,92,18,1) 0%, rgba(169,186,72,1) 100%);
    box-shadow: 0 6px 20px 0 rgba(82,92,18, 0.5)!important;
}
/*card design end*/

/*pagetitle heading*/
.br-pagetitle h3{
    font-weight: 300;
    color: #212529;
}
.br-pagetitle h3 i{
    font-size: 20px;
    font-weight: 500;
    margin-right: 10px;
}
/*Card Style*/
.card_main_body{
    border: 0;
    box-shadow: 0 0 20px rgba(0,0,0,0.11);
}
.card-header p{
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 0px
}
.card-header p i{
    margin-right: 5px;
    font-size: 16px;
}
.card_main_body .card-header{
    border: 0px;
    background-color: #1d2939;
    border-radius: 4px 4px 0px 0px;
}
.form-label-1{
    margin-top: 10px;
    text-align: right;
    color: #646c9a;
    font-size: 14px;
    font-weight: 400;
}

/*form Design*/
.form-control:focus{
    border-color: #c8cdd7;
    outline: 0;
    box-shadow: 0 2px 1px rgba(203, 208, 217, 0.08);
    -webkit-box-shadow: 0 2px 1px rgba(203, 208, 217, 0.08);
}
.form-control{
    border: 1px solid #e3e5e8;
    border-radius: 4px;
}

/*select-2*/
.select2-container {
    /*width: 61%!important;*/
    /*margin-left: 15px;*/
}

.plr_none{
    padding-left: 0px;
    padding-right: 0px;
}

.modal_select_2 .select2-container {
    width: 100%!important;
}
.modal_body_inner{
    box-shadow: 0 0 20px rgba(0,0,0,0.11);
    padding: 16px;
}
.modal_header_1{
    border-color: #40516f !important;
    background: rgba(40,55,84,1);
    background: -moz-linear-gradient(left, rgba(40,55,84,1) 0%, rgba(73,102,156,1) 71%, rgba(73,102,156,1) 100%);
    background: -webkit-linear-gradient(left, rgba(40,55,84,1) 0%, rgba(73,102,156,1) 71%, rgba(73,102,156,1) 100%);
    background: -o-linear-gradient(left, rgba(40,55,84,1) 0%, rgba(73,102,156,1) 71%, rgba(73,102,156,1) 100%);
    background: -ms-linear-gradient(left, rgba(40,55,84,1) 0%, rgba(73,102,156,1) 71%, rgba(73,102,156,1) 100%);
    background: linear-gradient(to right, rgba(40,55,84,1) 0%, rgba(73,102,156,1) 71%, rgba(73,102,156,1) 100%);
    box-shadow: 0 2px 5px 0 rgba(40,55,84,0.5)!important;
}
.modal_header_1 h6{
    color: #fff;
    margin-top: 5px;
}
.modal_header_1 button.close{
    color:#fff;
    opacity: 1;
}
.modal-header .close i{
    font-size:14px;
}
.select_2_row_modal .select2-container {
    width: 100%!important;
}
.select_2_row_modal .select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #d0d7dd;
}

/*Date*/
.datepicker_icon_btn span{
    background: #f1f2f7;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.datepicker_icon_btn{
    color: #17a2b8;
}
/*dataTable*/
.table-wrapper-1{
    padding: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.11);
}
.br-section-wrapper {
    padding: 25px;
}
.dataTables_wrapper .dataTables_filter input {
    margin-left: 0.2em;
}
.table-wrapper-1 table{
    width: 100%!important;
}
table.dataTable tbody td{
    padding: 0.4rem;
}
/*button*/
td button.btn-sm{
    padding: 0.4rem 0.5rem;
}
td button.btn-sm i{
    font-weight: 400;
}
/*sweet alert*/
.sweet-alert h2{
    margin-top: 25px;
    font-size: 19px;
}
.sa-button-container button.confirm{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
}
.sa-button-container button.confirm.btn-primary{
    background: #17A2B8;
    border-color: #17A2B8;
}
.sa-button-container button.cancel{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
}
.dataTables_filter input{
    height: calc(2rem + 2px);
}
.table.dataTable thead > tr > th{
    color: #585858;
    font-weight: 500;
    font-size: 11px;

}
.dataTables_length{
    margin-top: 25px;
}
/*image jquery*/
#img_contain{
    border:1px solid grey;
    /*margin-top:10px;*/
    width: 100px;
    margin: 0 auto;
}
#file-input{
    margin-left:7px;
    padding:10px;
    background-color: white;
    width: 100%;
}
#image-preview{
    height:100px;
    width: 100%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    padding:5px;
}

/*placeholder color*/
/*input::-webkit-input-placeholder{*/
/*    color:red;*/
/*}*/
/*input:-moz-placeholder {*/
/*    color:red;*/
/*}*/
/*input::placeholder {*/
/*    color:red;*/
/*}*/
/*form .form-control::-webkit-input-placeholder {*/
/*    color: #e3e5e8;*/
/*}*/

/*form .form-control::-moz-placeholder {*/
/*    color:#e3e5e8;*/
/*}*/
/*form .form-control:-ms-input-placeholder {*/
/*    color: #e3e5e8;*/
/*}*/
/*form .form-control:placeholder {*/
/*    color:#e3e5e8;*/
/*}*/


/*::-webkit-input-placeholder {*/
/*    color: red;*/
/*}*/
/*button*/
.br-button-part{
    margin-right: 30px;
}
.custom-btn-1{
    border-radius: 30px;
    font-weight: 500;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    letter-spacing: 1px;
}
.br-pagebody-1 {
    margin-top: 0px;
}
.my-pagetitle{
    margin-top: 15px;
}
.pagetitle-btn a.btn-1 {
    background-color: #ffffff;
    border-color: #097992;
    color: #fff;
}
.pagetitle-btn a.btn-1:hover{
    background-image: linear-gradient(to right, #1CAF9A 0%, #17A2B8 100%);
    color:#fff;
}

/*profile page*/
.card_body_profile_1{

}
.card_body_profile_1 p{
   color: #15dfff
}

.profile_content_1_1 p{
    margin-bottom: .3rem;
    font-size: 13px;
}
.widget-4 .card_body_profile_1 .card-profile-img {
    left: 47%;
    top: 10px;
    margin-left: -50px;
    width: 175px;
    height: 175px;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #111;
}
.widget-4 .card_body_profile_1 .card-profile-img img {
    width: 100%;
    height: 100%;
}

.p_left_1{
    text-align: left;
    padding-right: 25px;
    width: 33%;
}
.p_center_1{
    text-align: left;
    /*padding-left: 15px;*/
    width: 33%;
}
.p_right_1{
    text-align: left;
    padding-left: 15px;
    width: 33%;
}
.profile_content_1_1 div p span:nth-child(2){
    color:#fff;
}
.br-profile-page .card-body.card_body_2 {
    background-color: #fff;
}
.br-profile-page .card-header.card_header_2 {
    /*background-color: #17a2b8;*/
    border-color: #40516f !important;
    background: rgba(40,55,84,1);
    background: -moz-linear-gradient(left, rgba(40,55,84,1) 0%, rgba(73,102,156,1) 71%, rgba(73,102,156,1) 100%);
    background: -webkit-linear-gradient(left, rgba(40,55,84,1) 0%, rgba(73,102,156,1) 71%, rgba(73,102,156,1) 100%);
    background: -o-linear-gradient(left, rgba(40,55,84,1) 0%, rgba(73,102,156,1) 71%, rgba(73,102,156,1) 100%);
    background: -ms-linear-gradient(left, rgba(40,55,84,1) 0%, rgba(73,102,156,1) 71%, rgba(73,102,156,1) 100%);
    background: linear-gradient(to right, rgba(40,55,84,1) 0%, rgb(71, 91, 128) 71%, rgb(40, 56, 85) 100%);
    box-shadow: 0 2px 5px 0 rgba(40,55,84,0.5)!important;
}
.card_body_2 p span{
    font-size: 13px;
}
.card_body_2 p span:nth-child(1){
    width: 35%;
    display: inline-block;
    text-align: right;
    padding-right: 15px;
    font-size: 12px;
}
.card_body_2 p span:nth-child(2){
    width: 60%;
    display: inline-block;
    border-bottom: 1px dotted #ccc;
}

.education_title{
    font-weight:600;
    color:#17a2b8 ;
}
.cerification_p a{
    color:#17a2b8 ;
}
.education_btn_part_1{
    text-align: right;
    padding-bottom: 25px;
}
.education_btn_part_1 .custom-btn-1 {
    border-radius: 25px;
    font-weight: 700;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    letter-spacing: 1px;
    font-size: 8px;
}

table.dataTable tfoot th, table.dataTable tfoot td {
    border-top: 1px solid #d8d8d8 !important;
}
.education_col{
    border: 1px dotted #ccc;
    padding: 10px;
}
.card-header a.custom-btn-1.btn-1{
    background: #fff;
    border-color: #fff;
    color: #000;
}
.card-header a.custom-btn-1.btn-1:hover {
    background-image: linear-gradient(to right, #1CAF9A 0%, #17A2B8 100%);
    color: #fff;
    border-color: #18a4b6;
}



/*routine table*/
.routine_table_border{
    border: 1px solid #ebebeb ;
}
.routine_table_border button.btn{
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.routine_table_border ul{
    border: 0px;
}
.routine_table_border ul li{
    padding-top: 5px;
    padding-bottom: 5px;
}
.routine_table_border ul li a{
    color:#7d8086;
    padding: 8px 20px;
    text-decoration: none;
    font-size: 13px;
}
.routine_table_border ul li:hover{
    background: #f5f5f5;
}

/*section table*/
.table-wrapper-1.table-wrapper-2{
    box-shadow: 0 0 0px rgba(0,0,0,0)
}
.br-section-wrapper.br-section_wrapper_1{
    padding: 0px;
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0);
}
.card-body.card_body_2.card_body_3{
    padding: 0px;
}
.card.card_3{
    border: 0px;
}
.br_profile_page_section{
    background: #fff;
}
ul.section_tab_ul{

}
ul.section_tab_ul.nav li.nav-item{
   border: 1px solid #ebebeb;
    width: 100%;
    border-bottom: 0px;
    padding: 0px;
}
ul.section_tab_ul.nav li.nav-item:last-child{
    border-bottom: 1px solid #ebebeb;
}
ul.section_tab_ul.nav li.nav-item a{
    padding-left: 10px;
    font-size: 13px
}
.section_tab_ul.nav-outline.active-info .nav-link.active, .section_tab_ul.nav-outline.active-info .nav-link.active:hover, .section_tab_ul.nav-outline.active-info .nav-link.active:focus {
    color: #373e4a;
    background: #ececec;

}
.section_tab_ul.nav-outline.flex-row .nav-link::before, .section_tab_ul.nav-outline.flex-xs-row .nav-link::before, .section_tab_ul.nav-outline.flex-sm-row .nav-link::before, .section_tab_ul.nav-outline.flex-md-row .nav-link::before, .section_tab_ul.nav-outline.flex-lg-row .nav-link::before, .section_tab_ul.nav-outline.flex-xl-row .nav-link::before {
    border-bottom: 0px solid #343a40;
}
.section_tab_ul li.nav-item .nav-link.active::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #ececec;
    position: absolute;
    top: -2px;
    right: -20px;
}



.fc-datepicker_1{
    z-index: 2000!important
}


/*Checkbox*/
.calender_checkbox_option{
    cursor: pointer;
    background: #f2f3f8c7;
}
.calender_checkbox_option .custom-checkbox{
    cursor: pointer;
}

.calender_checkbox_option .custom-checkbox:hover{
    background: rgba(32,33,36,0.039);
    display: block;
    cursor: pointer;
}
.calender_checkbox_option .custom-control{
    padding-top: 2px;
    padding-bottom: 2px;
}
.custom-btn-1.custom-btn-2{
    font-size: 11px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 7px;
    padding-right: 7px;
}
.calender_checkbox_option .custom-control-label::after{
    cursor: pointer;
}
.calender_checkbox_option .custom-control-label::before{
    cursor: pointer;
}
.calender_checkbox_option .custom-control-label{
    cursor: pointer;
}
.custom-control-label.custom-control-label-academic::before{
    background-color: #fff;
}
.custom-control-label.custom-control-label-private::before{
    background-color: #fff;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label.custom-control-label-academic::before{
    background-color: #17a2b8;
}
.custom-control-label.custom-control-label-academic::after{
    border: 2px solid #17a2b8;
    border-radius: 3px;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label.custom-control-label-private::before{
    background-color: #e65a4b;
}
.custom-control-label.custom-control-label-private::after{
    border: 2px solid #e65a4b;
    border-radius: 3px;
}
#calendar .fc-day-grid-event {
    /*margin: 3px 3px 0;*/
    /*padding: 2px 4px;*/
}
/*.custom-checkbox .custom-control-label:focus {*/
/*    outline: none;*/
/*}*/
/*:focus {*/
/*    outline: -webkit-focus-ring-color auto 0px;*/
/*}*/

/*button*/
td a.btn-sm {
    padding: 0.4rem 0.5rem;
}

/*Footer*/
.br-footer{
    background: #fff;
    width: 100%;
    box-shadow: 0px 0px 4px 0px #ccc;
    padding: 20px;
    font-size: 13px;
    z-index: 10;
}

.footer-left{
    width: 46%;
    text-align: center;
}

/*invoice tyle*/
.table_invoice_style td p{
    font-size: 12px;
    font-weight: 400;
    color: #212529;
    line-height: 1;
    margin-bottom: 6px;
}
.table_invoice_style h4{
    font-weight: 500;
    font-size: 14px;;
}
.table_invoice_style td h4{
    font-weight: 400;
    color: #212529;
    font-size: 15px;

}
.table_invoice_style .table-bordered > thead > tr > th, .table_invoice_style .table-bordered > thead > tr > td {
    color: #6c7293;
    background: #ffffff;
}
.invoice_table_td td{
    font-size: 12px;
    font-weight: 300;
}
.table.table-bordered.table_data_1 tr th{
    font-size: 10px;
}
.br-header-right .dropdown .dropdown-menu{
    margin-top: 6px;
}
.br-header-right .dropdown-menu{
    border: 0px;
}

/*student_payment_invoice*/
.student_payment_invoice{
    background: #fff;
}
.card.card_shadow{
    box-shadow: 0 0 20px rgba(0,0,0,0.11);
    border: 0;
}
.card.card_shadow .card-header{
    border: 0;
    background: rgba(40,55,84,1);
    background: -moz-linear-gradient(left, rgba(40,55,84,1) 0%, rgba(73,102,156,1) 71%, rgba(73,102,156,1) 100%);
    background: -webkit-linear-gradient(left, rgba(40,55,84,1) 0%, rgba(73,102,156,1) 71%, rgba(73,102,156,1) 100%);
    background: -o-linear-gradient(left, rgba(40,55,84,1) 0%, rgba(73,102,156,1) 71%, rgba(73,102,156,1) 100%);
    background: -ms-linear-gradient(left, rgba(40,55,84,1) 0%, rgba(73,102,156,1) 71%, rgba(73,102,156,1) 100%);
    background: linear-gradient(to right, rgba(40,55,84,1) 0%, rgba(73,102,156,1) 71%, rgba(73,102,156,1) 100%);
    box-shadow: 0 2px 5px 0 rgba(40,55,84,0.5)!important;
}
.student_payment_invoice .card-header p{
    font-size: 16px;
}

/*modal payslip*/
.modal_payslip_title{
    border-color: #40516f !important;
    background: rgba(40,55,84,1);
    background: -moz-linear-gradient(left, rgba(40,55,84,1) 0%, rgba(73,102,156,1) 71%, rgba(73,102,156,1) 100%);
    background: -webkit-linear-gradient(left, rgba(40,55,84,1) 0%, rgba(73,102,156,1) 71%, rgba(73,102,156,1) 100%);
    background: -o-linear-gradient(left, rgba(40,55,84,1) 0%, rgba(73,102,156,1) 71%, rgba(73,102,156,1) 100%);
    background: -ms-linear-gradient(left, rgba(40,55,84,1) 0%, rgba(73,102,156,1) 71%, rgba(73,102,156,1) 100%);
    background: linear-gradient(to right, rgba(40,55,84,1) 0%, rgba(73,102,156,1) 71%, rgba(73,102,156,1) 100%);
}
.modal_payslip_title h4{
    color:#fff;
    padding-left: 15px;
    font-weight: 400;
}
.box_shadow_table{
    box-shadow: 0 0 20px rgba(0,0,0,0.11);
    border: 0px;
}
.card-header.modal_payslip_title{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}
/**{ box-sizing: border-box; user-select: none; }*/
/*html, body{ margin: 0; height: 100%; }*/
/*body{*/
/*    display: flex;*/
/*    background: #212121;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    font: 24px/1.4 "RobotoDraft", sans-serif;*/
/*    color: #fff;*/
/*}*/

/*section.checkbox_row{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    padding: 0.5em;*/
/*}*/

/*.checkbox_row h1{*/
/*    font-weight: 400;*/
/*    font-size: 2em;*/
/*    cursor: default;*/
/*    margin: 0 0 .5em 0;*/
/*}*/

/*.checkbox_row input[type='checkbox']{ height: 0; width: 0; }*/

/*.checkbox_row input[type='checkbox'] + label{*/
/*    position: relative;*/
/*    display: flex;*/
/*    margin: .6em 0;*/
/*    align-items: center;*/
/*    color: #9e9e9e;*/
/*    transition: color 250ms cubic-bezier(.4,.0,.23,1);*/
/*}*/
/*.checkbox_row input[type='checkbox'] + label > ins{*/
/*    position: absolute;*/
/*    display: block;*/
/*    bottom: 0;*/
/*    left: 2em;*/
/*    height: 0;*/
/*    width: 100%;*/
/*    overflow: hidden;*/
/*    text-decoration: none;*/
/*    transition: height 300ms cubic-bezier(.4,.0,.23,1);*/
/*}*/
/*.checkbox_row input[type='checkbox'] + label > ins > i{*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    font-style: normal;*/
/*    color: #4FC3F7;*/
/*}*/
/*.checkbox_row input[type='checkbox'] + label > span{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    margin-right: 1em;*/
/*    width: 1em;*/
/*    height: 1em;*/
/*    background: transparent;*/
/*    border: 2px solid #9E9E9E;*/
/*    border-radius: 2px;*/
/*    cursor: pointer;*/
/*    transition: all 250ms cubic-bezier(.4,.0,.23,1);*/
/*}*/

/*.checkbox_row input[type='checkbox'] + label:hover, .checkbox_rowinput[type='checkbox']:focus + label{*/
/*    color: #fff;*/
/*}*/
/*.checkbox_row input[type='checkbox'] + label:hover > span, .checkbox_row input[type='checkbox']:focus + label > span{*/
/*    background: rgba(255,255,255,.1);*/
/*}*/
/*.checkbox_row input[type='checkbox']:checked + label > ins{ height: 100%; }*/

/*.checkbox_row input[type='checkbox']:checked + label > span{*/
/*    border: .5em solid #FFEB3B;*/
/*    animation: shrink-bounce 200ms cubic-bezier(.4,.0,.23,1);*/
/*}*/
/*.checkbox_row input[type='checkbox']:checked + label > span:before{*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: .6em;*/
/*    left: .2em;*/
/*    border-right: 3px solid transparent;*/
/*    border-bottom: 3px solid transparent;*/
/*    transform: rotate(45deg);*/
/*    transform-origin: 0% 100%;*/
/*    animation: checkbox-check 125ms 250ms cubic-bezier(.4,.0,.23,1) forwards;*/
/*}*/

/*@keyframes shrink-bounce{*/
/*    0%{*/
/*        transform: scale(1);*/
/*    }*/
/*    33%{*/
/*        transform: scale(.85);*/
/*    }*/
/*    100%{*/
/*        transform: scale(1);*/
/*    }*/
/*}*/
/*@keyframes checkbox-check{*/
/*    0%{*/
/*        width: 0;*/
/*        height: 0;*/
/*        border-color: #212121;*/
/*        transform: translate3d(0,0,0) rotate(45deg);*/
/*    }*/
/*    33%{*/
/*        width: .2em;*/
/*        height: 0;*/
/*        transform: translate3d(0,0,0) rotate(45deg);*/
/*    }*/
/*    100%{*/
/*        width: .2em;*/
/*        height: .5em;*/
/*        border-color: #212121;*/
/*        transform: translate3d(0,-.5em,0) rotate(45deg);*/
/*    }*/
/*}*/



.fc-datepicker_1{
    z-index: 2000!important
}

.mk-blink {
    animation: blinker 0.5s linear infinite;
    color: #FF1900;
    font-weight: bold;
    font-family: sans-serif;
    /*width: 100% !important;*/
    text-align: left !important;
}
@keyframes blinker {
    50% { opacity: 0; }
}

/*.fc-datepicker_1{*/
/*    z-index: 2000!important*/
/*}*/
.report_page{}
.report_page .card{
    cursor: pointer;
    border: 0px;
}
.report_page .card .card-body{
    padding: 15px;
    border: 0px;
}
.report_page .card .card-body .icon_part{}
.report_page .card .card-body .icon_part i{
    color: #fff;
    font-size: 40px;
}
.report_page .card .card-body .content_part{}
.report_page .card .card-body .content_part p{
    color: #fff;
    font-size: 16px;
    margin-top: 8px;
    font-weight: 600;
}
.report_page .card:hover {
    background: #293a59;
    box-shadow: 0 0px 5px 0 rgba(0,0,0, 0.5)!important;
}

.scrollme{
    overflow-y: auto;
}


.select_2_row_modal .select2-container {
    width: 100%!important;
}

@media screen and (min-width: 720px){
    .br-footer{
        position: fixed;
        left: 0%;
        bottom: 0%;
    }
}


@media screen and (max-width: 640px){
    .my-pagetitle{
        margin-left: 0px !important; 
        margin-right: 0px !important;
    }
    .br-pagebody {
        padding: 0 0px !important;
    }

    .my-pagetitle div h4 {
        font-size: 15px;
    }
    .my-pagetitle div h4 i.icon {
        font-size: 17px;
    }

    .collapsable{
        display: none;
    }
}



ul.to_do {
    padding: 0 !important;
  }
ul.to_do li {
    background: #f3f3f3 !important;

    border-radius: 3px !important;

    position: relative !important;

    padding: 7px !important;

    margin-bottom: 5px !important;

    list-style: none !important;
  }
ul.to_do p {
    margin: 0;
}

table.dataTable>tbody>tr.child span.dtr-title {
    text-transform: uppercase;
}

table.dataTable>tbody>tr.child span.dtr-title::after {
    content: ':';
}



/*----------------------------------
  Card One  Area Start
-------------------------------------*/
.row-cards-one {
  margin-top: 30px;
}

.row-cards-one .mycard {
  border-radius: 3px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.30) !important;
  padding: 25px 25px 30px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.row-cards-one .mycard:hover {
  transform: translateY(-7px);
}

.row-cards-one .mycard .left {
  position: inherit;
  z-index: 9;
}

.row-cards-one .mycard .left .title {
  font-size: 22px;
  color: #fff;
  line-height: 32px;
  margin-bottom: 2px;
}

.row-cards-one .mycard .left .number {
  font-size: 42px;
  line-height: 52px;
  font-weight: 600;
  display: block;
  color: #fff;
  margin-bottom: 20px;
}

.row-cards-one .mycard .left .link {
  width: 80px;
  height: 30px;
  background: #fff;
  border-radius: 50px;
  line-height: 30px;
  font-size: 14px;
  display: block;
  text-align: center;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.row-cards-one .mycard .left .link:hover {
  background: #000;
  color: #fff;
}

.row-cards-one .mycard .right .icon {
  font-size: 80px;
  color: #fff;
  position: inherit;
  z-index: 9;
}

.row-cards-one .mycard::after {
    position: absolute;
    content: " ";
    width: 268px;
    height: 501px;
    top: 23px;
    right: -215px;
    -webkit-transform: rotate(7deg);
    -ms-transform: rotate(7deg);
    transform: rotate(7deg);
}

.row-cards-one .mycard.bg1 {
  background-image: -webkit-gradient(linear, left top, right top, from(#f85108), to(#f4ad3c));
  background-image: -webkit-linear-gradient(left, #f85108, #f4ad3c);
  background-image: -o-linear-gradient(left, #f85108, #f4ad3c);
  background-image: linear-gradient(to right, #f85108, #f4ad3c);
}

.row-cards-one .mycard.bg1::after {
  background: #f85108;
}

.row-cards-one .mycard.bg2 {
  background-image: -webkit-gradient(linear, left top, right top, from(#047edf), to(#0bb9fa));
  background-image: -webkit-linear-gradient(left, #047edf, #0bb9fa);
  background-image: -o-linear-gradient(left, #047edf, #0bb9fa);
  background-image: linear-gradient(to right, #047edf, #0bb9fa);
}

.row-cards-one .mycard.bg2::after {
  background: #047edf;
}

.row-cards-one .mycard.bg3 {
  background-image: -webkit-gradient(linear, left top, right top, from(#1d928b), to(#06e2d5));
  background-image: -webkit-linear-gradient(left, #1d928b, #06e2d5);
  background-image: -o-linear-gradient(left, #1d928b, #06e2d5);
  background-image: linear-gradient(to right, #1d928b, #06e2d5);
}

.row-cards-one .mycard.bg3::after {
  background: #0fa49b;
}

.row-cards-one .mycard.bg4 {
  background-image: -webkit-gradient(linear, left top, right top, from(#32269c), to(#7a6cf0));
  background-image: -webkit-linear-gradient(left, #32269c, #7a6cf0);
  background-image: -o-linear-gradient(left, #32269c, #7a6cf0);
  background-image: linear-gradient(to right, #32269c, #7a6cf0);
}

.row-cards-one .mycard.bg4::after {
  background: #352d7b;
}

.row-cards-one .mycard.bg5 {
  background-image: -webkit-gradient(linear, left top, right top, from(#cf0633), to(#f96079));
  background-image: -webkit-linear-gradient(left, #cf0633, #f96079);
  background-image: -o-linear-gradient(left, #cf0633, #f96079);
  background-image: linear-gradient(to right, #cf0633, #f96079);
}

.row-cards-one .mycard.bg5::after {
  background: #cf0633;
}

.row-cards-one .mycard.bg6 {
  background-image: -webkit-gradient(linear, left top, right top, from(#129021), to(#1ed41e));
  background-image: -webkit-linear-gradient(left, #129021, #1ed41e);
  background-image: -o-linear-gradient(left, #129021, #1ed41e);
  background-image: linear-gradient(to right, #129021, #1ed41e);
}

.row-cards-one .mycard.bg6::after {
  background: #129021;
}

.row-cards-one .mycard.bg7 {
 background-image: linear-gradient(to right, #0866c6, #1d2939);
}

.row-cards-one .mycard.bg7::after {
  background: #0866c6;
}